<mat-card class="container">
  <mat-card-header>
    <mat-card-title> Listar Jogos </mat-card-title>
</mat-card-header>
<table>
  <tr>
    <th>#</th>
    <th>Seleção A</th>
    <th></th>
    <th>Placar</th>
    <th></th>
    <th>Seleção B</th>
    <th>Palpitar</th>
  </tr>
  <tr *ngFor="let jogo of jogos">
    <td>{{ jogo.id }}</td>
    <td>{{ jogo.selecaoA?.nome }}</td>
    <td>{{ jogo.placarA }}</td>
    <td>X</td>
    <td>{{ jogo.placarA }}</td>
    <td>{{ jogo.selecaoB?.nome }}</td>
    <td>
      <button mat-raised-button color="warn" (click)="palpitar(jogo)">Palpitar</button>
  </td>
  </tr>
</table>